.banner-bar {
  padding: 100px 0 150px;
  background: url("../../img/liquidity-page/banner-bg.png") 50% 50% no-repeat;
  background-size: cover;
  .banner-title {
    padding-top: 60px;
    font-size: 36px;
    font-weight: 500;
  }
  .banner-title-describe {
    margin-top: 16px;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 28px;
    color: hsla(0, 0%, 100%, .8);
  }

  @media only screen and (max-width: 768px) {
    padding: 60px 0 75px;
  }
}
