.bridge-page {
  .modal-dialog {
    max-width: 415px;
    .modal-content {
      .modal-header {
        padding-bottom: 0;
      }
    }
  }
  .banner-bar {
    @media only screen and (max-width: 768px) {
      padding-bottom: 110px;
      .banner-title {
        padding-top: 20px;
        font-size: 24px;
      }
    }
  }
}

.wind-mining-section {
  padding-bottom: 100px;
  .powered-text {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 500;
    color: #8d96af;
  }
}

.wind-mining-content {
  width: 415px;
  max-width: 100%;
  min-height: 550px;
  padding: 20px;
  margin: -100px auto 0;
  font-size: 12px;
  font-weight: 500;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 30px 0 rgba(81, 85, 121, .03);
  .select-asset {
    position: relative;
    height: 50px;
    padding: 0 1.5em 0 1em;
    margin-bottom: 1.5em;
    cursor: pointer;
    background: #f1f3f7;
    border-radius: 8px;
    &::after {
      position: absolute;
      top: 50%;
      right: 1em;
      display: inline-block;
      width: 7px;
      height: 12px;
      margin-top: -6px;
      content: "";
      background: url("../../img/icon/bridge-page/arrow-right.png") 50% 50%;
      background-size: cover;
    }
    .option-img {
      margin-right: .57em;
      img {
        float: left;
      }
    }
    .option-lable {
      font-size: 1rem;
      font-weight: 500;
    }
  }
  .bet-item {
    margin-top: 10px;
    margin-bottom: 18px;
    .bet-text {
      height: 20px;
      font-size: 13px;
      font-weight: 600;
    }
    .bet-info {
      position: relative;
      width: 100%;
      .bet-selete {
        height: 60px;
        padding: 0 10px;
        font-size: 16px;
        color: #181f36;
        cursor: pointer;
        background: #fff;
        border-radius: 9px;
        box-shadow: 0 5px 15px 0 rgba(15, 21, 77, .08);
        .selete-img {
          width: 7px;
          height: 12px;
        }
      }
    }
    .bet-arrow {
      flex-shrink: 0;
      width: 58px;
      height: 80px;
      padding-top: 20px;
      .point-img {
        width: 26px;
        height: 26px;
      }
    }
    .bet-hide {
      .assets-body {
        width: 240px;
        padding: 37px 13px 13px;
        .close-icon {
          position: absolute;
          top: 18px;
          right: 18px;
          width: 18px;
          cursor: pointer;
        }
      }
    }
  }
  .form-control {
    height: 50px;
  }
  .addr-verify {
    margin-top: -10px;
    margin-bottom: 15px;
    font-size: 14px;
    color: red;
  }
  .action-button {
    outline: none;
    box-shadow: 0 9px 10px 0 rgba(1, 207, 170, .2);
  }
  .available {
    height: 17px;
    font-size: 12px;
    font-weight: 600;
    line-height: 17px;
    color: #626e88;
  }
  .quota {
    .quota-zj {
      font-weight: 600;
    }
    .quota-text {
      display: inline-block;
      margin-left: 2px;
      color: #181f36;
    }
  }
  .assets-item {
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #f1f3f7;
    border-radius: 8px;
    .assets-input {
      width: 100%;
      padding-left: 13px;
      input {
        width: 100%;
        height: 50px;
        font-size: 14px;
        font-weight: 500;
        background: #f1f3f7;
        border: none;
        outline: none;
      }
    }
    .assets-info {
      padding-right: 13px;
      .assets-type {
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        color: #181f36;
      }
      .assets-max {
        display: inline-block;
        min-width: 46px;
        height: 20px;
        margin-left: 5px;
        font-size: 12px;
        line-height: 20px;
        color: #fff;
        text-align: center;
        background: #03ad90;
        border: none;
        border-radius: 4px;
        outline: none;
        cursor: pointer;
        box-shadow: 0 2px 4px 0 rgba(75, 255, 239, .2);
        &:disabled {
          background: #dde2eb!important;
          box-shadow: 0 10px 10px 0 rgba(128, 139, 159, .15)!important;
          color: #979797!important;
        }
      }
    }
  }
  .text-tip {
    padding: 2px;
    margin-top: -12px;
    margin-bottom: 5px;
    line-height: 17px;
    color: #626e88;
    b {
      color: red;
    }
    img {
      float: left;
      width: 12px;
      height: 12px;
    }
  }
  .selete-name {
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    color: #181f36;
    .tip-let {
      color: #cf1414;
    }
  }
  .action-button {
    height: 50px;
    margin-top: 18px;
    font-size: 18px;
  }
  .quota-name {
    height: 20px;
    padding-top: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    cursor: pointer;
    img {
      width: 12px;
      height: 12px;
    }
  }
  .record {
    height: 20px;
    padding-top: 15px;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    text-decoration: underline;
    cursor: pointer;
  }
  .title-section {
    font-size: 16px;
    font-weight: 600;
    color: #171717;
    img:first-child {
      width: 26px;
      height: 26px;
    }
  }
  .not-history {
    width: 100%;
    min-height: 500px;
    font-size: 12px;
    font-weight: 500;
    color: #7f8faf;
    img {
      width: 67px;
      height: 61px;
    }
  }
  .historyContainer {
    padding: 10px;
    max-height: 550px;
    overflow-y: scroll;
  }
  @media only screen and (max-width: 350px) {
    padding: 14px;
    .assets-item .assets-input input {
      font-size: 12px;
    }
  }
}

.modal-choose-bridge {
  .assets-body {
    .assets-title {
      font-size: 14px;
      font-weight: 600;
      color: #181f36;
    }
  }
}

.list-dropdown {
  height: 44px;
  padding: 0 13px;
  margin-bottom: 10px;
  font-weight: 500;
  border-bottom: 1px solid #e6e6e6;
  &:hover {
    background: #f6f7fb;
    border-radius: 18px;
  }
  .start {
    font-size: 14px;
  }
  .span-img {
    display: inline-block;
    width: 30px;
    text-align: right;
  }
}

.list-dropdown {
  .active-check {
    display: none;
  }
}
.list-dropdown.active .active-check {
  display: block;
}

.active-check {
  margin-right: 0;
  margin-left: 10px;
}


.bet-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
}

.msg-modal {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  color: #808193;
  .title {
    font-weight: 600;
  }
}
