.table-wrapper {
  position: relative;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  margin: -80px auto 20px;


  .dataTable {
    .is-right {
      text-align: right;
    }
    .is-center {
      text-align: center;
    }
    .el-table_1_column_1 {
      .cell {
        font-weight: 600;
      }
    }
    .el-table_1_column_5 {
      color: $success;
    }


    .el-table_1_column_7 {
      //display: none;
    }
    .el-table_1_column_3 {
      //display: none;
    }
  }



  .cell {
    font-weight: 500;
    .Trades-one {
      img {
        height: 30px;
        margin-left: 15px;
      }
    }
  }
  .apy-class {
    display: flex;
  }

  .topic {
    img {
      width: 16px;
      height: 16px;
      margin-left: 5px;
    }
  }
}


//fix dataTable slyles

table.dataTable thead th, table.dataTable thead td,
table.dataTable.no-footer {
  border-bottom: #eee;
}

table.dataTable tbody th, table.dataTable tbody td {
  padding: 25px 10px;
}

.dataTables_filter {
  //display: none;
  //visibility: hidden;
}


.liquidity-mdx {
  display: inline-block;
  padding: 0 22px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 600;
  line-height: 54px;
  color: #fff;
  background: linear-gradient( 270deg ,#05d2bf, #02c09f);
  border-radius: 10px;
  span {
    margin-right: 5px;
    margin-left: 5px;

  }
}
