.introduce-section{
  .inner-wrapper {
    width: 100%;
    max-width: 860px;
    margin: 0 auto;
    transform: translateY(-100px);
  }
  .banner {
    padding: 130px 140px 50px;
    background: url("../../img/priceplan-page/banner-bg.png") 0% 50% no-repeat;
    background-size: cover;
    border-radius: 20px;
    @media only screen and (max-width: 768px) {
      padding: 130px 40px 50px;
    }
    @media only screen and (max-width: 450px) {
      background: url("../../img/priceplan-page/banner-bg.png") 10% 50% no-repeat;
      background-size: cover;
    }
  }
  .plan-section {
    padding: 30px;
    margin-top: 15px;
    background: white;
    border-radius: 20px;
    h1 {
      font-size: 24px;
      font-weight: 700;
    }
    h2 {
      font-size: 20px;
      font-weight: 700;
    }
    p {
      font-size: 14px;
      font-weight: 500;
      line-height: 2;
    }
    ul {
      font-size: 14px;
      font-weight: 500;
      list-style: disc;
      list-style-position: inside;
      li {
        margin-bottom: 5px;
      }
    }
    table {
      font-size: 14px;
      font-weight: 500;
    }
  }
}

.priceplan-page {
  @media only screen and (max-width: 768px) {
    .banner-bar {
      padding-bottom: 110px;
    }
    .introduce-section .plan-section h1  {
      font-size: 22px;
    }
  }
}
