// Customize some defaults
//$body-color: #333;
//$body-bg: #fff;
//$border-radius: .4rem;
//$secondary: #7f8faf;
$dark: #48587b;
$warning: #ffa62d;
$success: #02c09f;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px,
  //xxl: 1320px
) !default;
