// Customize some defaults
//$body-color: #333;
//$body-bg: #fff;
//$border-radius: .4rem;
$secondary: #7f8faf;
$dark: #48587b;
$warning: #ffa62d;
$success: #02c09f;

$carousel-control-prev-icon-bg: url("../../img/icon/home-page/slider/slider-arrow-left.png");
$carousel-control-next-icon-bg: url("../../img/icon/home-page/slider/slider-arrow-right.png");
$carousel-control-icon-width: 16px;

$navbar-dark-active-color: $success;
$navbar-dark-color: rgba(255, 255, 255, .95) !default;
$navbar-dark-hover-color: $success !default;

$dropdown-link-color: #626e88;
$dropdown-link-active-color: #041843 !default;
$dropdown-link-active-bg: transparent;
$dropdown-font-size: .875em !default;
$dropdown-border-radius: 8px !default;

$dropdown-border-color: transparent !default;

$table-color: #041843 !default;
$table-hover-bg: #f5f7fa !default;
$table-border-color: #eee !default;
$table-cell-vertical-align:  middle !default;

$input-bg: #f1f3f7 !default;
$input-font-size: 12px !default;
$input-font-weight: 500 !default;
$input-border-radius: 8px !default;
$input-border-color: transparent !default;
$input-box-shadow: none !default;

$btn-border-radius: 8px !default;

$progress-height: 7px !default;
$progress-bg: #e9edf3 !default;
$progress-border-radius: 7px !default;
$progress-box-shadow: none !default;

$modal-content-border-radius: 10px !default;

$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 960px,
  xl: 1200px,
  //xxl: 1320px
) !default;


